<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bulma CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
<div class="section hero is-info">
  <div class="container">
    <h1 class="title">
      周六打篮球
    </h1>
  </div>
</div>

<!-- Leaving some space below the header -->
<div class="block">
</div>

<div class="block">
  <form action="/login" class="box" method="post">
    <div class="field is-grouped is-grouped-centered">
      <label class="label">权限验证</label>
    </div>
    <div class="field">
      <div class="control">
        <input class="input is-info" type="password" name="password" placeholder="密码 (查看群公告)">
      </div>
    </div>
    <div class="field is-grouped is-grouped-centered">
      <div class="control">
        <input type="submit" class="button is-info" value="登录">
      </div>
    </div>
  </form>
</div>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <a href="https://github.com/tolinwei/basketball_reg" target="_blank"><img
          src="https://github-link-card.s3.ap-northeast-1.amazonaws.com/tolinwei/basketball_reg.png" width="460px"></a>
    </p>
  </div>
</footer>
</body>
</html>

